@import "./custom.scss";

/*================================================
 *  インプットフォーム
 ================================================*/

 .input-form {
    position: relative;
      width: 50%;
    margin: -10% 25% 10px 25%;
  
    h1 {
      margin: 8px;
    }
  
    label {
      margin-top:10px;
      margin-left:10px;
      font-size: calc(80% + 0.5vw);
      color: black;
    }
  
    input {
      width: 100%;
      height: 40px;
      font-size: calc(50% + 0.6vw);
      font-family: sans-serif;
      font-weight: bold;
      color: black;
      letter-spacing: 2.5px;
      margin: 4px 0;
      padding-left: 20px;
      border: 2px solid $my-color3;
      border-radius: 32px;
      outline: none;
      box-sizing: border-box;
    }
  
    input:focus {
      border-color: #da3c41;
    }
  
    input[type=submit] {
      width: 60%;
      margin: 40px 20%;
      font-size: calc(50% + 0.5vw);
      font-weight: bold;
      letter-spacing: 2px;
      color: $my-color3;
      border: 2px solid $my-color3;
      background-color: white;
      transition: .4s;
    }
  
    input[type=submit]:hover {
      font-size: calc(50% + 0.4vw);
      color: white;
      background-color: $my-color3;
    }
  }